body {
  background-color: #0e0e0e;
  color: #e5e5e5;
  font-family: monospace;
  display: flex;
  justify-content: center;
}

.container {
  width: 700px;
  margin-top: 40px;
}

#test-area {
  font-size: 24px;
  line-height: 1.6;
  margin-bottom: 20px;
  user-select: none;
}

.char {
  color: #555;
}

.char.correct {
  color: white;
}

.char.wrong {
  color: red;
}

.cursor {
  border-left: 2px solid white;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.stats span {
  margin-right: 20px;
}

.hidden {
  display: none;
}

button {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}
